{% extends 'Core/base_layer.html' %}
{% block page %}
    <form method="post">
        {% csrf_token %}
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">

                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">
                            crop_free
                        </i>

                        <input class="mdc-text-field__input" id="plu" name="plu">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="plu" class="mdc-floating-label">PLU, ШК товара/ценника </label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </div>

                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                    <div class="mdc-text-field w-100">
                        <input class="mdc-text-field__input" type="text" id="item_name" name="item_name">
                        <div class="mdc-line-ripple"></div>
                        <label for="item_name" class="mdc-floating-label">Наименование товара</label>
                    </div>
                </div>

                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                    <div class="mdc-text-field w-100">
                        <input class="mdc-text-field__input" type="text" id="max-position" name="max-position" value='50'>
                        <div class="mdc-line-ripple"></div>
                        <label for="max-position" class="mdc-floating-label">Количество отображаемых позиций</label>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                   <input type="submit" class="mdc-button mdc-button--raised w-100" value="Поиск"/>
               </div>

            </div>
        </div>
    </form>
{% endblock %}