{% extends 'dm_style/Core/base.html' %}
{% load static %}
{% block js_s %}
    <script src="{% static 'js/qr-gen.js' %}"></script>
{% endblock %}
{% block main_content %}

    <div class="product-card">
        <div class="product-card-header">
            <img src="http://media.x5.ru/rest/x5/cdnplu?format=7&plu={{ item.article }}" alt="Кроссовки">
            <div class="description">
                <div class="title">{{ item.fullName }}</div>
            </div>
        </div>
        <table class="param_table">
            <tr>
                <td>
                    <p class="outline_text">PLU</p>
                    <p class="param_text">{{ item.article }}</p>
                </td>
                <td>
                    <p class="outline_text">Товарная группа</p>
                    <p class="param_text">                {{ item.merchandiseGroupId }} {{ item.merchandiseGroupName }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="outline_text">Остаток</p>
                    <p class="param_text">{{ item.stock }}</p>
                </td>
                <td>
                    <p class="outline_text">Штрихкоды</p>
                    <p class="param_text">{{ item.itemIds.0 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="outline_text">Цена на кассе, ₽</p>
                    <p class="param_text">{{ item.sellingPrice }}</p>
                </td>
                <td>
                    <p class="outline_text">Регулярная цена, ₽</p>
                    <p class="param_text">{{ item.regularPrice }}</p>
                </td>
            </tr>
        </table>
    </div>

















    <script>
        function generateQRCode() {
            var text = '{{ item.itemIds.0 }}';
            var qrcode = new QRCode(document.getElementById('qrcode'), {
                text: text,
                width: 128,
                height: 128,
                colorDark: '#000000',
                colorLight: '#ffffff',
                correctLevel: QRCode.CorrectLevel.H
            });
            document.getElementById('HK').onclick = null;
        }
    </script>
{% endblock %}